<a href="https://colab.research.google.com/github/sanjayparajuli/colab/blob/main/sqlite.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!pip install pysqlite3
from pysqlite3 import dbapi2 as sqlite3
print(sqlite3.sqlite_version)
import pandas as pd
from IPython.display import display, HTML

Collecting pysqlite3
  Downloading pysqlite3-0.5.4.tar.gz (40 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 40.7/40.7 kB 2.5 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Building wheels for collected packages: pysqlite3
  Building wheel for pysqlite3 (setup.py) ... done
  Created wheel for pysqlite3: filename=pysqlite3-0.5.4-cp312-cp312-linux_x86_64.whl size=167813 sha256=e13ea9842ecabaa7c54e89b377aa9e4cce84b1796d5a46f42df481a716725d53
  Stored in directory: /root/.cache/pip/wheels/5f/02/a6/284262355044b549376150fa1166bbd8106585da0c15280db3
Successfully built pysqlite3
Installing collected packages: pysqlite3
Successfully installed pysqlite3-0.5.4
3.37.2

In [2]:
dbname = 'music_streaming_1.db'
def printSqlResults(cursor, tblName):
  try:
    df = pd.DataFrame(cursor.fetchall(), columns=[i[0] for i in cursor.description])
    display(HTML("<b><font color=Green> " + tblName + "</font></b>" + df.to_html(index=False)))
  except:
    pass

def runSql(caption, query):
  conn = sqlite3.connect(dbname)
  cursor = conn.cursor()
  cursor.execute(query)
  printSqlResults(cursor, caption)
  conn.close()

def runStepByStepSql(query, fromline):
  lines = query.strip().split('\n')
  for lineindx in range(fromline, len(lines)):
    partial_query = '\n'.join(lines[:lineindx])
    caption = 'Query till line:' + partial_query
    runSql(caption, partial_query + ':')

In [3]:
conn = sqlite3.connect(dbname)
cursor = conn.cursor()
cursor.execute("""
CREATE TABLE IF NOT EXISTS Users (
  user_id INTEGER PRIMARY KEY,
  name VARCHAR(100) NOT NULL,
  email VARCHAR(100) NOT NULL UNIQUE
);
""")

cursor.execute("""
CREATE TABLE IF NOT EXISTS Songs (
  song_id INTEGER PRIMARY KEY,
  title VARCHAR(100) NOT NULL,
  artist VARCHAR(100) NOT NULL,
  genre VARCHAR(100)
);
""")

cursor.execute("""
CREATE TABLE IF NOT EXISTS Listens (
  listen_id INTEGER PRIMARY KEY,
  user_id INTEGER NOT NULL,
  song_id INTEGER NOT NULL,
  rating FLOAT,
  listen_time TIMESTAMP,
  FOREIGN KEY (user_id) REFERENCES User(user_id),
  FOREIGN KEY (song_id) REFERENCES Songs(song_id)

);
""")
cursor.execute("""
CREATE TABLE IF NOT EXISTS Recommendations (
  user_id INTEGER NOT NULL,
  song_id INTEGER NOT NULL,
  recommendation_id INTEGER PRIMARY KEY,
  recommendation_time TIMESTAMP,
  FOREIGN KEY (user_id) REFERENCES Users(user_id),
  FOREIGN KEY (song_id) REFERENCES Songs (song_id)
);
""")
conn.commit()
conn.close()

In [4]:
conn = sqlite3.connect(dbname)
sqlite3.enable_callback_tracebacks(True)
cursor = conn.cursor()
cursor.execute('delete from Songs;')
cursor.execute('delete from Users;')
cursor.execute('delete from Listens;')
cursor.execute('delete from Recommendations;')

cursor.execute("""
INSERT INTO Users (user_id, name, email)
VALUES
  (1, 'Mickey', 'mickey@example.com'),
  (2, 'Mine', 'minnie@example.com'),
  (3, 'Daffy', 'daffy@example.com'),
  (4, 'Pluto', 'pluto@example.com');
""")

cursor.execute("""
INSERT INTO Songs(song_id, title, artist, genre)
VALUES
(1, 'Evermore', 'Taylor Swift', 'Pop'),
(2, 'Willow', 'Taylor Swift', 'Pop'),
(3, 'Shape of You', 'Ed Sheeran', 'Rock'),
(4, 'Photograph', 'Ed Sheeran', 'Rock'),
(5, 'Shivers', 'Ed Sheeran', 'Rock'),
(6, 'Yesterday', 'Beatles', 'Classic'),
(7, 'Yellow Submarine', 'Beatles', 'Classic'),
(8, 'Hey Jude', 'Beatles', 'Classic'),
(9, 'Bad Blood', 'Taylor Swift', 'Rock'),
(10, 'DJ Mix', 'DJ', NULL);

""")
cursor.execute("""
INSERT INTO Listens (listen_id, user_id, song_id, rating, listen_time)
VALUES
(1, 1, 1, 4.5, '2024-08-30 14:35:00'),
(2, 1, 2, 4.2, NULL),
(3, 1, 6, 3.9, '2024-08-29 10:15:00'),
(4, 2, 2, 4.7, NULL),
(5, 2, 7, 4.6, '2024-08-28 09:20:00'),
(6, 2, 8, 3.9, '2024-08-27 16:45:00'),
(7, 3, 1, 2.9, NULL),
(8, 3, 2, 4.9, '2024-08-26 12:30:00'),
(9, 3, 6, NULL, NULL);
""")
conn.commit()
conn.close()
runSql('Users', 'select * from Users')
runSql('Songs', 'select * from Songs')
runSql('Listens', 'select * from Listens')

# New Section

In [5]:
""" Goal: Learn basic forms of SELECT, FROM, WHERE, DISTINCT """
qry_classic_songs = """
---Find the title and artists of songs in the "Classic genre".
SELECT songs.title, Songs.artist FROM songs
Where Songs.genre = 'Classic';
"""
runSql('Classic songs', qry_classic_songs)

In [6]:
qry_classic2_songs = """
--- Find the title and artists of songs in the "Classic" genre.
SELECT songs.title, songs.artist
FROM songs
WHERE Songs.genre = 'Classic'
AND songs.title like 'Ye%';
"""
runSql('Classic songs starting from Ye', qry_classic2_songs)

In [7]:
qry_classic3_songs = """
--- Find the title and artists of songs in the "Classic" genre.
SELECT * FROM Songs

"""
runSql('Basic query', qry_classic3_songs)

In [8]:
qry_classic4_songs = """
--- Find the title and artists of songs in the "Classic" genre.
SELECT Songs.title, Songs.artist, Songs.song_id, Songs.genre
FROM Songs
WHERE Songs.genre = 'Classic' OR
Songs.song_id < 3 ;

"""
runSql('Using Songs ID', qry_classic4_songs)

In [9]:
qry_genres = """
--- List of all genres in the Songs table
SELECT Songs.genre FROM Songs

"""
runSql('Genre Table Songs', qry_genres)

In [10]:
qry_distinct = """
SELECT DISTINCT genre
FROM Songs;
"""
runSql('Distinct songs', qry_distinct)

In [11]:
query_artistsong_count = """
--- Songs by the artist in differnet genre
SELECT genre, count(*) as num_songs
FROM songs
where artist = 'Taylor Swift'
GROUP BY genre;
"""
runSql('Count the songs genre', query_artistsong_count)

In [12]:
query_numsongs_artist = """
SELECT genre, count(*) as num_song
FROM Songs
GROUP BY genre;
"""
runSql('ALl the songs with count', query_numsongs_artist)

query_artist_count = """
SELECT genre, artist, count(*) as num_song
FROM Songs
GROUP BY genre, artist;
"""
runSql('ALl the songs with Artist', query_artist_count)


query_excluding_artist = """
SELECT genre, count(*) as num_songs
from songs
GROUP BY genre;
"""
runSql('Genre without artist', query_excluding_artist)

In [13]:
query_all_the_tables = """
SELECT * FROM Users;
"""
runSql('Users tables', query_all_the_tables)
query_all_the_ListernsTable = """
SELECT * FROM Listens;
"""
runSql('Listeners tables', query_all_the_ListernsTable)
query_all_the_SongsTable = """
SELECT * FROM Songs;
"""
runSql('Listens Table', query_all_the_SongsTable)

In [15]:
query_left_join = """
SELECT * FROM songs
LEFT JOIN Listens ON Songs.song_id = Listens.Song_id
"""
runSql('Left Join', query_left_join)

In [18]:
query_left_joins = """
SELECT * FROM Listens
LEFT JOIN Songs ON Listens.Song_id = Songs.song_id
"""
runSql('Left Join', query_left_joins)

In [20]:
query_join_left = """
SELECT * FROM Songs
LEFT JOIN Listens ON Songs.song_id = Listens.listen_id;
"""
runSql('Left join from the songs', query_join_left)

In [ ]:
# query = """
# CREATE TABLE songs(id INTEGER, title TEXT);
# INSERT INTO songs VALUES (1, 'Song A');
# INSERT INTO songs VALUES (2, 'Song B');
# SELECT * FROM songs;
# """
# fromline = 1
# lines = query.strip().split('\n')
# for lineindex in range(1, len(lines)):
#   partial_query = '\n'.join(lines[:lineindex])
#   caption = 'Query till line:' + partial_query
#   # print(f'Lineidx={lineindex} -> partial_query:\n{partial_query}\n')
#   print(caption)

In [ ]:
# for lineindex in range(1, len(lines)):
#   partial_query = '\n'.join(lines[:lineindex])
#   print(f'Lineidx={lineindex} -> partial_query:\n{partial_query}\n')