<a href="https://colab.research.google.com/github/sanjayparajuli/colab/blob/main/sqlite.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [11]:
!pip install pysqlite3
from pysqlite3 import dbapi2 as sqlite3
print(sqlite3.sqlite_version)
import pandas as pd
from IPython.display import display, HTML

Collecting pysqlite3
  Downloading pysqlite3-0.5.4.tar.gz (40 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 40.7/40.7 kB 1.6 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Building wheels for collected packages: pysqlite3
  Building wheel for pysqlite3 (setup.py) ... done
  Created wheel for pysqlite3: filename=pysqlite3-0.5.4-cp312-cp312-linux_x86_64.whl size=167806 sha256=1c7dd97e689fc8f2e9181b2d61a6b1213954293621301d8f39ad52b763565156
  Stored in directory: /root/.cache/pip/wheels/5f/02/a6/284262355044b549376150fa1166bbd8106585da0c15280db3
Successfully built pysqlite3
Installing collected packages: pysqlite3
Successfully installed pysqlite3-0.5.4
3.37.2

In [12]:
dbname = 'music_streaming_1.db'
def printSqlResults(cursor, tblName):
  try:
    df = pd.DataFrame(cursor.fetchall(), columns=[i[0] for i in cursor.description])
    display(HTML("<b><font color=Green> " + tblName + "</font></b>" + df.to_html(index=False)))
  except:
    pass

def runSql(caption, query):
  conn = sqlite3.connect(dbname)
  cursor = conn.cursor()
  cursor.execute(query)
  printSqlResults(cursor, caption)
  conn.close()

def runStepByStepSql(query, fromline):
  lines = query.strip().split('\n')
  for lineindx in range(fromline, len(lines)):
    partial_query = '\n'.join(lines[:lineindx])
    caption = 'Query till line:' + partial_query
    runSql(caption, partial_query + ':')

In [21]:
conn = sqlite3.connect(dbname)
cursor = conn.cursor()
cursor.execute("""
CREATE TABLE IF NOT EXISTS Users (
  user_id INTEGER PRIMARY KEY,
  name VARCHAR(100) NOT NULL,
  email VARCHAR(100) NOT NULL UNIQUE
);
""")

cursor.execute("""
CREATE TABLE IF NOT EXISTS Songs (
  song_id INTEGER PRIMARY KEY,
  title VARCHAR(100) NOT NULL,
  artist VARCHAR(100) NOT NULL,
  genere VARCHAR(100)
);
""")

cursor.execute("""
CREATE TABLE IF NOT EXISTS Listens (
  listen_id INTEGER PRIMARY KEY,
  user_id INTEGER NOT NULL,
  song_id INTEGER NOT NULL,
  rating FLOAT,
  listen_time TIMESTAMP,
  FOREIGN KEY (user_id) REFERENCES User(user_id),
  FOREIGN KEY (song_id) REFERENCES Songs(song_id)

);
""")
cursor.execute("""
CREATE TABLE IF NOT EXISTS Recommendations (
  user_id INTEGER NOT NULL,
  song_id INTEGER NOT NULL,
  recommendation_id INTEGER PRIMARY KEY,
  recommendation_time TIMESTAMP,
  FOREIGN KEY (user_id) REFERENCES Users(user_id),
  FOREIGN KEY (song_id) REFERENCES Songs (song_id)
);
""")
conn.commit()
conn.close()

In [9]:
# query = """
# CREATE TABLE songs(id INTEGER, title TEXT);
# INSERT INTO songs VALUES (1, 'Song A');
# INSERT INTO songs VALUES (2, 'Song B');
# SELECT * FROM songs;
# """
# fromline = 1
# lines = query.strip().split('\n')
# for lineindex in range(1, len(lines)):
#   partial_query = '\n'.join(lines[:lineindex])
#   caption = 'Query till line:' + partial_query
#   # print(f'Lineidx={lineindex} -> partial_query:\n{partial_query}\n')
#   print(caption)

Query till line:CREATE TABLE songs(id INTEGER, title TEXT);
Query till line:CREATE TABLE songs(id INTEGER, title TEXT);
INSERT INTO songs VALUES (1, 'Song A');
Query till line:CREATE TABLE songs(id INTEGER, title TEXT);
INSERT INTO songs VALUES (1, 'Song A');
INSERT INTO songs VALUES (2, 'Song B');

In [5]:
# for lineindex in range(1, len(lines)):
#   partial_query = '\n'.join(lines[:lineindex])
#   print(f'Lineidx={lineindex} -> partial_query:\n{partial_query}\n')

Lineidx=0 -> partial_query:


Lineidx=1 -> partial_query:
CREATE TABLE songs(id INTEGER, title TEXT);

Lineidx=2 -> partial_query:
CREATE TABLE songs(id INTEGER, title TEXT);
INSERT INTO songs VALUES (1, 'Song A');

Lineidx=3 -> partial_query:
CREATE TABLE songs(id INTEGER, title TEXT);
INSERT INTO songs VALUES (1, 'Song A');
INSERT INTO songs VALUES (2, 'Song B');